In [22]:
    import pandas as pd 
    import os
    df = pd.read_excel('Power-Query-sample-1.xlsx')

In [23]:
os.getcwd()

'C:\\Users\\DELL\\Desktop\\python Progs'

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   4 non-null      object
 2   Unnamed: 2   3 non-null      object
 3   Unnamed: 3   4 non-null      object
 4   Unnamed: 4   3 non-null      object
 5   Unnamed: 5   3 non-null      object
 6   Unnamed: 6   3 non-null      object
 7   Unnamed: 7   3 non-null      object
 8   Unnamed: 8   4 non-null      object
 9   Unnamed: 9   5 non-null      object
 10  Unnamed: 10  3 non-null      object
 11  Unnamed: 11  4 non-null      object
 12  Unnamed: 12  4 non-null      object
 13  Unnamed: 13  4 non-null      object
 14  Unnamed: 14  4 non-null      object
 15  Unnamed: 15  4 non-null      object
 16  Unnamed: 16  4 non-null      object
 17  Unnamed: 17  4 non-null      object
 18  Unnamed: 18  4 non-null      object
dtypes: float64(1), object(18)
memory usage: 2.2+ KB

In [25]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18'],
      dtype='object')

In [26]:
df.columns=['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18']

In [31]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,Item,Q3 2014,Q4 2014,Q1 2015,Q2 2015,Q3 2015,Q4 2015,Q1 2016,Q2 2016,Q3 2016,Q4 2016,Q1 2017,Q2 2017,Q3 2017,Q4 2017,Q1 2018,Q2 2018,Q3 2018
1,NaN,A,10802,9548,10702,8314,7800,8123,8087,8995,9150,8347,8997,10353,10096,15509,11595,15997,10194
2,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,162,174,NaN,194,191,219,223,165,296,290,210
3,NaN,C,1172,871,875,1074,935,452,1186,1194,1273,1248,632,NaN,646,541,1277,856,1143
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
print (df['Unnamed: 10'])
print(df['Unnamed: 13'].isnull())

0     Q3 2016
1        9150
2         NaN
3        1273
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
Name: Unnamed: 10, dtype: object
0     False
1     False
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11    False
12     True
13     True
Name: Unnamed: 13, dtype: bool

In [35]:
missing_values=["n/a","na","__"]
df=pd.read_excel('Power-Query-sample-1.xlsx',na_values=missing_values)

In [36]:
print (df['Unnamed: 10'])
print(df['Unnamed: 13'].isnull())

0     Q3 2016
1        9150
2         NaN
3        1273
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
Name: Unnamed: 10, dtype: object
0     False
1     False
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11    False
12     True
13     True
Name: Unnamed: 13, dtype: bool

In [37]:
print(df.isnull().sum())

Unnamed: 0     14
Unnamed: 1     10
Unnamed: 2     11
Unnamed: 3     10
Unnamed: 4     11
Unnamed: 5     11
Unnamed: 6     11
Unnamed: 7     11
Unnamed: 8     10
Unnamed: 9      9
Unnamed: 10    11
Unnamed: 11    10
Unnamed: 12    10
Unnamed: 13    10
Unnamed: 14    10
Unnamed: 15    10
Unnamed: 16    10
Unnamed: 17    10
Unnamed: 18    10
dtype: int64

In [38]:
df.isnull().values.any()

True

In [39]:
df.isnull().sum().sum()

199